<app-header [activeSection]="currentSection"></app-header>
<app-scroll-progress></app-scroll-progress>

<section id="home" class="section">
  <app-home class="w-full"></app-home>
</section>

<section id="about" class="section">
  <app-about class="w-full"></app-about>
</section>

<section id="experience" class="section">
  <app-experience></app-experience>
</section>

<section id="projects" class="section">
  <app-projects></app-projects>
</section>

<section id="contact" class="section">
  <app-contact></app-contact>
</section>
